$body-bg: #95BF8F ;
$primary: #698066;
$secondary: #B1AE91;
$text-hover: #698066;
// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

